.button {
    &--size_l {
        padding: 7px*$rem 25px*$rem;
    }

    &--size_m {
        padding-left: 15px*$rem;
        padding-right: 15px*$rem;
    }

    &--size_s {
        padding-left: 10px;
        padding-right: 10px;
    }

    &[data-size="wide"] {
        width: 100%;
    }

    &__icon {
        &[data-color="green"] {
            color: #7bcd86;
        }
        &[data-color="red"] {
            color: #cd5c5c;
        }
        &[data-color="blue"] {
            color: #6f6eab;
        }    
        &[data-color="gray"] {
            color: #a6a6a6;
        }    
    }
}