//Переменные цветов
$snow: #ffffff; // правый цвет шапки сайта, иконки в левой панели сайта, фон карточек
$night: #000000;
$lightsea: #52518a; // Фоновый цвет левой панели сайта, фоновый цвет для заголовков "форма добавления карточек", фоновый цвет для таблиц
$darksea: #4c4b80; // Фоновый цвет левой части шапки сайта, текст и иконки в правой части шапки
$pig: #eef3fb;  // Цвет фона body
$salt: #7bcd86; // Линия слева в карточках
$wolf2: #333333; // Основной текст внутри в карточках
$buble: #6f6eab; // Основные цвета кнопок призывных действий: Добавить, собрать заказы, заказы, просмотр
$wolf:  #4f6173; // Цвет текста заголовка карточки, заголовки полей для формы добавления новой карточки, плацехолдер, текст названия сортировки
$cloud: #bfbed9; //Цвет текста разработки в футере
$water:  #7f7eb3; //Линки в футере, фоновые цвета при наведении выбора сортировки, фоны при наведении на кнопки
$smog: #e6ebf1; //бордер для карточек добавления и отображения информации/фоновый цвет для заголовков сортировки заказов
$rose: #ab7de3; // фоновый цвет при наведении в сортировке заказов, фоновый цвет линии в карточке заказов, текст статуса "в работе"
$asphalt: #a3a6a6; //бордер у инпута в карточке добавления блоков
$sun: #e89b00; //notice
$yellow: #fff8e8; // фоновый цвет notice

$brand-color: #52518a; // Основной цвет сайта

//Заносим цвета в переменные строительных блоков, чтобы в будущем маштабно делать цветовые темы

//Текст и фон для body и для внутренней обертки, если будет указана фиксированная ширина
$base-text-color: $wolf; //основной текст
$base-bg-color: $pig;//фон body
$layout-bg-color: $pig;

//ОСНОвНЫЕ ЦВЕТА КНОПОК
$btn-bg-primary: $buble;
$btn-bg-secondary: $salt;
$btn-bg-other: #a6a6a6;

 //НАВЕДЕНИЕ ОСНОВНЫХ КНОПОК
$bg-hover-btn: $water;
$bg-hover-btn-secondary: #70e07f; //Наведение других кнопок
$bg-hover-btn-other: lighten(#a6a6a6, 10%);
$bg-hover-nav: lighten($lightsea, 15%); //наведение на кнопки левого меню
$bg-hover-hamb: lighten($darksea, 15%); //наведение на кнопку гамбургер

//бордер нижний в шапке и бордер верхний в сайдбаре
$border-b-header: $smog;
$border-top-sidebar: #5f5ea0;

//Иконки
$icon-header-primary: $darksea;
$icon-header-secondary: $snow;

$link-footer-color: $water;

//Стандартный блок
$block-bg-color: $snow;
$block-border-color: $smog;
$block-bg-title: $lightsea;
$block-text-title: $wolf;

$border-color: $smog; //цвет бордера
$border-input-color: $asphalt; //бордер для инпута

//Цвета для notice
$notice-text-color: $sun;
$notice-bg-color: $yellow;

$photo-bg-hover: $rose;

//Переменные цвета для страницы 404
$bg-404: #47016f;
$btn-404-active: #ffc33b;
$btn-404-unactive: #ffffff;
$btn-404-text-active: #4b2557;
$btn-404-text-unactive: #4b2557;